@using proyectoFinalNET.ViewModels;
@model ListaMascotaView

@{
    Layout = null;
}

<div class="row">
    <div class="container">
        <label>Listado de Mascotas </label>
        <select class="form-control" id="tipoMascota">
            <option value="0" selected>Seleccione Mascota</option>
            @foreach (MascotasView mv in Model.mascotas)
            {
                <option value="@mv.codigo">@mv.nombre</option>
            }
        </select>
        <br />
        @if (Model.carga == "a")
        {
        <button type="submit" id="historialMascota" class="btn btn-success" onclick="BuscarHistorial()"> Buscar Historial </button>
        }
    </div>

</div>