@using proyectoFinalNET.ViewModels
@model ListaTipos


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsertarMascota</title>
</head>
<body>
    <div>


        <div>
            <select class="form-control">
                @foreach (TiposVista tv in Model.tipos)
                {
                    <option value="@tv.codigo">@tv.tipo_mascota</option>
                }
            </select>
        </div>

    </div></body>
</html>
