
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <h5 class="card-header">Formulario de Historial</h5>
                <div class="card-body">
                    <div class="input-group mb-3 offset-3">
                        <label>Ingresa Rut Dueño</label>
                    </div>
                    <div class="input-group mb-3 offset-3">
                        <input type="text" class="form-control col-6" placeholder="Ejemplo: 183879057" id="rut_dueno">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="botonBuscar" onClick="buscarMascotas()"> Buscar </button>
                        </div>
                    </div>
                    <div class="input-group mb-6 offset-3" id="divCombo"></div>
                </div>
            </div>
   

        </div>
    </div>

</div>
<hr />
<div class="container">
    <div class="" id="divHistorial"></div>

</div>








