
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
    <style>

        body {
            background-image: url('../../Content/imagenes/fondo.svg');
            background-size:100%;
            background-repeat:no-repeat;
            background-position:unset;
        }
    </style>

</head>
<body>
    <div>
    </div>
</body>
</html>
